form {
    width: 250px;
    background: #ddd;
    padding: 30px 15px 15px 15px;

    -webkit-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 6);
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 6);
    margin: 100px 500px 0 500px;

}

input[type="text"] {
    font-family: 'Orbitron', sans-serif;
    width: 100%;
    font-size: 36px;
    padding: 5px 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: right;


}

input[type="button"] {
    width: 58px;
    height: 55px;
    background: black;
    color: white;
    font-size: 24px;
    margin-bottom: 5px;

}

hr {

    margin: 15px 0;
}


/*for responsive */


@media only screen and (max-width: 480px) {
    form {
        width: 250px;
        background: #333;
        padding: 30px 15px 15px 5px;

        -webkit-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 6);
        box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 6);
        margin: 100px 500px 0 50px;

    }

    input[type="text"] {
        font-family: 'Orbitron', sans-serif;
        width: 100%;
        font-size: 36px;
        padding: 5px 5px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        text-align: right;


    }

    input[type="button"] {
        width: 58px;
        height: 55px;
        background: black;
        color: white;
        font-size: 24px;
        margin-bottom: 5px;

    }

    hr {

        margin: 15px 0;
    }
}
